.search_box input {
  background: #f0f0e9;
  border: medium none;
  color: #b2b2b2;
  font-family: "roboto";
  font-size: 12px;
  font-weight: 300;
  height: 35px;
  outline: medium none;
  padding-left: 10px;
  width: 155px;
  background-image: asset-url("searchicon.png");
  background-repeat: no-repeat;
  background-position: 130px;
}
